.home_page_photo {
    width: 200px;
    height: 150px !important;
}


/***** Home Page Pagination *****/

.pager .active a {
    background-color: black;
    color: white;
}
.pager .active a:hover {
    background-color: black;
    color: white;
}


    